@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Roboto;
  src: url(/Roboto-Regular.ttf);
}

body{
  background: radial-gradient(circle at top right, #0db664, #000000 20%);
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  color: white;
}

/* circle sizes ------------------------- */

.n1{height: 30%;}

.n2{height: 40%;}

.n3{height: 60%;}

.n4{height: 70%;}

.n5{height: 100%;}

/* circle animation efects */

@media (prefers-reduced-motion: no-preference) {
  .mr {
    animation: move-to-right infinite 130s linear;
  }

  .ml{
    animation: move-to-left infinite 90s linear;
  }
}

@keyframes move-to-right {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes move-to-left {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}